.about {
  position: relative;
  z-index: 50;
  margin-top: -1px;
  background-color: $color-darkbluegrey;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  &::before {
    position: absolute;
    top: 0;
    left: -20px;
    content: "";
    width: 133px;
    height: 132px;
    border-radius: 20px;
    background-color: $color-darkbluegreytwo;
  }
}

.about__background {
  position: relative;
  background-image: url("../img/about-mobile@1x.png");
  background-position: center top;
  background-repeat: no-repeat;
}

.about__wrapper {
  @include container-padding;
  @include container-size;
  padding: 30px 50px 65px;
}

.about__title {
  margin: 0;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: bold;
  color: $color-mango;
}

.about__text {
  margin: 0;
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  color: #ffffff;

  &--bold {
    font-weight: bold;
  }
}

.about__text br {
  display: none;
}

.about__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .about {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    &::before {
      top: -9px;
      left: 40px;
      width: 89.5%;
      height: 213px;
    }
  }

  .about__background {
    background-image: url("../img/about-tablet@1x.png");
    background-position: 98% 40px;
  }

  .about__wrapper {
    padding-left: 75px;
    padding-right: 51%;
    padding-bottom: 90px;
  }

  .about__title {
    margin-bottom: 40px;
    font-size: 45px;
    line-height: 1;
  }

  .about__text {
    font-size: 28px;
    line-height: 1.18;

    &--bold {
      margin-top: 34px;
      margin-bottom: 53px;
      font-size: 21px;
    }
  }

  .about__text br {
    display: block;
  }

  .about__desc {
    width: 225px;
  }

  .about__button {
    padding: 0 35px;

    width: 91%;
    display: flex;
    font-size: 24px;

    background-position: 87% center;
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-top: -61px;
    padding-top: 150px;

    &::before {
      display: none;
    }
  }

  .about__wrapper {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 213px;
      height: 213px;
      border-radius: 20px;
      background-color: $color-darkbluegreytwo;
    }
  }

  .about__title,
  .about__text {
    position: relative;
  }
}
