.add-country {
  position: absolute;
  z-index: 100;
  top: -1px;
  left: 0;

  display: none;
  width: 220px;

  border-radius: 10px;
  box-shadow: 0 20px 50px 0 $color-darkslateblue-10;
  background-color: #ffffff;
}

.countries__item--expanded .add-country {
  display: block;
}

.add-country__title {
  margin: 0;
  padding: 12px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #ffffff;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: $color-darkslateblue;
}

.add-country__close {
  position: absolute;
  top: 11px;
  right: 20px;

  width: 9px;
  height: 9px;

  outline: none;
  border: none;

  background-color: transparent;
  fill: #ffffff;

  cursor: pointer;
}

.add-country__letters {
  @include reset-list;
  margin-top: 1px;
  margin-left: 1px;
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 1.4px;
  color: $color-darkslateblue;
}

.add-country__letter {
  margin-left: -1px;
  margin-top: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 42px;
  border: 1px solid $color-cloudyblue;
  border-bottom: none;

  &--current {
    background-color: $color-palegrey;
  }

  &:nth-child(5n) {
    width: 44px;
  }
}

.add-country__countries {
  @include reset-list;
  padding: 11px 20px 15px;

  border: 1px solid $color-cloudyblue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.add-country__country {
  font-size: 16px;
  line-height: 1.38;
  color: $color-blackish;
}

.add-country__letter:hover {
  cursor: pointer;
}

.add-country__country:hover {
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .add-country {
    top: 70px;
    width: 575px;
    border-bottom-right-radius: 0;
  }

  .add-country__title {
    position: absolute;
    top: -70px;
    padding: 27px 25px;
    width: 369px;
    height: 70px;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .add-country__close {
    top: -45px;
    right: auto;
    left: 320px;
  }

  .add-country__close svg {
    width: 17px;
    height: 17px;
  }

  .add-country__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .add-country__letters {
    margin: 35px 28px;
    width: 266px;
  }

  .add-country .add-country__letter {
    width: 53px;
    height: 70px;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 2px;

    &--current {
      background-color: $color-darkslateblue;
      color: #ffffff;
    }
  }

  .add-country__countries {
    padding: 30px 25px 55px;

    border: none;
    border-radius: 0;
    border-left: 1px solid $color-darkslateblue-10;
    background-color: #ffffff;
  }

  .add-country__country {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .add-country {
    top: 0;
    width: 730px;
  }

  .add-country__wrapper {
    padding-right: 35px;
  }

  .add-country__title {
    position: static;
    width: 100%;
  }

  .add-country__close {
    top: 25px;
    right: 38px;
    left: auto;
  }

  .add-country__close svg {
    width: 18px;
    height: 18px;
  }

  .add-country__letters {
    margin-bottom: 20px;
    width: 370px;
  }

  .add-country .add-country__letter {
    margin-right: 16px;
    margin-bottom: 15px;
    width: 60px;
    height: 70px;
    border: 1px solid $color-cloudyblue;

    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}
