.add-country {
  position: absolute;
  z-index: 100;
  top: -1px;
  left: 0;

  display: none;
  width: 220px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 20px 50px 0 $color-darkslateblue-10;
  background-color: #ffffff;
}

.add-country__title {
  @include reset-margin;
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 12px;

  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #ffffff;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: $color-darkslateblue;
}

.add-country__close {
  position: absolute;
  top: 11px;
  right: 20px;

  width: 9px;
  height: 9px;

  outline: none;
  border: none;

  background-color: transparent;
  fill: #ffffff;

  opacity: 0.3;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 1;
  }

  &:active {
    opacity: 0.1;
  }
}

.add-country__letters {
  @include reset-list;
  margin-top: 1px;
  margin-left: 1px;
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 1.4px;
  color: $color-darkslateblue;
}

.add-country__letter {
  margin-left: -1px;
  margin-top: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 42px;
  border: 1px solid $color-cloudyblue;
  border-bottom: none;

  cursor: pointer;
  transition: 200ms ease;

  &:hover {
    z-index: 1;
    border: 1px solid $color-blueygrey;
  }

  &:active,
  &:focus {
    background-color: $color-darkslateblue;
    color: #ffffff;
  }

  &--current {
    background-color: $color-palegrey;
  }

  &:nth-child(5n) {
    width: 44px;
  }
}

.add-country__letter a {
  color: inherit;
}

.add-country__countries {
  @include reset-list;
  padding-top: 11px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 15px;

  border: 1px solid $color-cloudyblue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.add-country__country {
  font-size: 16px;
  line-height: 1.38;
  color: $color-blackish;

  cursor: pointer;
  transition: 200ms ease;

  &:hover {
    color: $color-darkslateblue;
  }

  &:active,
  &:focus {
    color: $color-darkslateblue-30;
  }
}

.add-country__country a {
  color: inherit;
}

@media (min-width: $tablet-width) {
  .add-country {
    top: 70px;
    width: 575px;
    border-bottom-right-radius: 0;
  }

  .add-country__title {
    position: absolute;
    top: -70px;
    padding-top: 27px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 27px;
    width: 369px;
    height: 70px;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .add-country__close {
    top: -45px;
    right: auto;
    left: 320px;
  }

  .add-country__close svg {
    width: 17px;
    height: 17px;
  }

  .add-country__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .add-country__letters {
    margin-top: 35px;
    margin-right: 28px;
    margin-left: 28px;
    margin-bottom: 35px;
    width: 266px;
  }

  .add-country .add-country__letter {
    width: 53px;
    height: 70px;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 2px;
    border: 1px solid $color-cloudyblue;

    &--current {
      background-color: $color-darkslateblue;
      color: #ffffff;
    }
  }

  .add-country__countries {
    @include reset-radius;
    padding-top: 30px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 55px;

    border: none;
    border-left: 1px solid $color-darkslateblue-10;
    background-color: #ffffff;
  }

  .add-country__country {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .add-country {
    top: 0;
    width: 730px;
  }

  .add-country__wrapper {
    padding-right: 35px;
  }

  .add-country__title {
    position: static;
    width: 100%;
  }

  .add-country__close {
    top: 25px;
    right: 38px;
    left: auto;
  }

  .add-country__close svg {
    width: 18px;
    height: 18px;
  }

  .add-country__letters {
    margin-bottom: 20px;
    width: 370px;
  }

  .add-country .add-country__letter {
    margin-right: 16px;
    margin-bottom: 15px;
    width: 60px;
    height: 70px;
    border: 1px solid $color-cloudyblue;

    &:hover,
    &:focus {
      border: 1px solid $color-blueygrey;
    }

    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}
