.avatar {
  margin-bottom: 33px;
}

.avatar__wrapper {
  padding: 0 18px;
  display: flex;
  justify-content: space-between;
}

.avatar__img {
  margin-bottom: 19px;
  width: 99px;
  height: 100px;
}

.avatar__img img {
  border-radius: 50%;
}

.avatar__button {
  width: 100%;
  height: 40px;
  background-color: $color-palegreyfive;
}

.avatar__button:hover,
.avatar__button:focus {
  background-color: $color-lightbluegrey;
}

.avatar__button:active {
  color: $color-darkslateblue-30;
}

.avatar__button span {
  white-space: pre;
}


@media (min-width: $tablet-width) {
  .avatar__wrapper {
    margin-bottom: 33px;
    padding: 0;
  }

  .avatar__img {
    width: 94px;
    height: 94px;
  }

  .avatar__img img {
    border-radius: 5px;
  }

  .avatar__button {
    height: 60px;
    border-radius: 10px;

    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    color: $color-darkslateblue;
  }
}

@media (min-width: $desktop-width) {
  .avatar {
    position: absolute;
    z-index: 150;
    top: -263px;
    right: 155px;
  }

  .avatar__wrapper {
    margin: 0;
    align-items: center;
    width: 329px;
  }

  .avatar__img {
    margin: 0;
    width: 190px;
    height: 190px;
  }

  .avatar__img img {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .avatar__level {
    margin-bottom: 8px;
  }

  .avatar__button {
    margin-left: auto;
    width: 190px;
    height: 47px;
    border-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .avatar__button span {
    display: none;
  }
}
