.base-info {
  @include reset-list;
  margin-top: 20px;
}

.base-info__item {
  @include reset-margin;
  @include reset-padding;
}

.base-info__label {
  position: relative;
  padding-right: 50px;

  display: block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: $color-darkslateblue;

  cursor: pointer;
}

.base-info__label::after {
  position: absolute;
  top: 0;
  right: 0;

  width: 50px;
  content: "";
  letter-spacing: 1.6px;
  text-align: right;
  opacity: 0.3;
}

.base-info__label--comp::after {
  content: "чел.";
}

.base-info__label--days::after {
  content: "дн.";
}

.base-info__wrapper {
  @include reset-padding;
  position: relative;

  margin-top: 8px;
  margin-bottom: 18px;

  display: flex;
  align-items: center;
  width: 100%;
  height: 43px;
}

.base-info__input {
  padding-top: 0;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid $color-cloudyblue;
  outline: none;
  background-color: #ffffff;
  text-align: center;
  color: $color-darkslateblue;
  transition: 200ms ease;
}

.base-info__input:hover {
  border: 1px solid $color-blueygrey;
}

.base-info__input:active,
.base-info__input:focus {
  border: 1px solid $color-darktwo;
}

.base-info__input:hover ~ .base-info__button {
  fill: $color-blueygrey;
}

.base-info__input:active ~ .base-info__button,
.base-info__input:focus ~ .base-info__button {
  fill: $color-darktwo;
}

.base-info .base-info__button {
  @include reset-padding;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  border: none;
  outline: none;
  background-color: transparent;
  fill: rgba(0, 0, 0, 0.15);

  cursor: pointer;
  transition: 200ms ease;

  &:hover,
  &:focus {
    fill: rgba(0, 0, 0, 0.4);
  }

  &:active {
    fill: rgba(0, 0, 0, 0.1);
  }

  &--minus {
    left: 8px;
  }

  &--plus {
    right: 8px;
  }
}

.base-info__label--kids {
  position: relative;
  margin-top: 20px;
  padding-left: 39px;

  display: flex;
  align-items: center;
  min-height: 26px;

  font-size: 15px;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
  color: #444444;
}

.base-info__label--kids::before {
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  width: 26px;
  height: 26px;

  border: 1px solid $color-cloudyblue;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.base-info__checkbox:checked + .base-info__label--kids::after {
  position: absolute;
  top: 7px;
  left: 7px;

  content: "";
  width: 12px;
  height: 12px;

  background-image: url("../img/sprite.svg#tick");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  opacity: 1;
}

.base-info__checkbox:focus + .base-info__label--kids::before,
.base-info__label--kids:hover::before,
.base-info__label--kids:focus::before {
  border: 1px solid $color-blueygrey;
  transition: 200ms ease;
}

.base-info__label--kids:active::before {
  border: 1px solid $color-palegreythree;
  background-color: $color-palegreythree;
  transition: 200ms ease;
}

.base-info__checkbox:checked + .base-info__label--kids:active::after {
  opacity: 0.3;
}


@media (min-width: $tablet-width) {
  .base-info {
    margin-bottom: 55px;
    display: flex;
    flex-direction: column;
  }

  .base-info__label {
    margin-bottom: 26px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color-darkslateblue;
  }

  .base-info__wrapper {
    @include reset-margin;
    position: relative;
    height: 70px;
  }

  .base-info__item {
    position: relative;
    margin-bottom: 5px;

    &--comp {
      order: 1;
    }

    &--days {
      order: 3;
    }

    &--kids {
      margin-bottom: 25px;
      order: 2;
    }
  }

  .base-info__item--comp::before,
  .base-info__item--days::after {
    position: absolute;
    top: -24px;
    left: 0;

    content: "";
    width: 100%;
    height: 1px;

    background-color: $color-lightbluegreytwo;
  }

  .base-info__input {
    padding-top: 0;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .base-info .base-info__button {
    margin-top: 0;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 0;

    &--minus {
      left: 16px;
    }

    &--plus {
      right: 13px;
    }
  }

  .base-info__button svg {
    width: 20px;
    height: 20px;
  }

  .base-info__label--kids {
    padding-left: 59px;
    min-height: 36px;
  }

  .base-info__label--kids::before {
    left: 1px;
    width: 36px;
    height: 36px;
  }

  .base-info__checkbox:checked + .base-info__label--kids::after {
    top: 12px;
    left: 13px;
    width: 15px;
    height: 15px;
  }
}


@media (min-width: $desktop-width) {
  .base-info {
    position: relative;
    margin-bottom: -3px;
    padding-bottom: 0;
  }

  .base-info__item {
    margin-bottom: 15px;
    width: 401px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--comp {
      order: 1;
    }

    &--days {
      order: 2;
    }

    &--kids {
      position: absolute;
      top: 17px;
      right: 0;
      width: auto;
      order: 3;
    }
  }

  .base-info__label--kids::before {
    left: -57px;
  }

  .base-info__checkbox:checked + .base-info__label--kids::after {
    top: 10px;
    left: -46px;
  }

  .base-info__label {
    @include reset-margin;
    @include reset-padding;
    width: auto;

    &::after {
      left: 437px;
      right: auto;
      text-align: left;
      opacity: 1;
    }
  }

  .base-info::before {
    position: absolute;
    top: -31px;
    left: 0;

    content: "";
    width: 100%;
    height: 1px;

    background-color: $color-lightbluegreytwo;
  }

  .base-info__item--comp .base-info__wrapper::after,
  .base-info__item--days .base-info__wrapper::after {
    position: absolute;
    top: 25px;
    right: -30px;
  }

  .base-info__item--comp::before {
    display: none;
  }

  .base-info__item--days::after {
    display: none;
  }

  .base-info__wrapper {
    width: 181px;
  }

  .base-info__input {
    padding-right: 60px;
    padding-left: 78px;
    text-align: center;
  }

  .base-info .base-info__button {
    &--minus {
      left: 13px;
    }
  }
}
