.catalog {
  padding-top: 75px;
  padding-bottom: 78px;
  background-color: $color-palegrey;
}

.catalog__wrapper {
  @include container-padding;
  @include container-size;
}

.catalog__search {
  margin-bottom: 27px;
}

.catalog__list {
  @include reset-list;
  margin-bottom: 19px;
}

.catalog__card {
  margin-bottom: 10px;
}

.catalog__more {
  margin-bottom: 21px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  text-transform: uppercase;
  color: $color-darkslateblue;

  fill: $color-darkslateblue;

  transition: 200ms ease;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__more svg {
  margin-right: 15px;
  margin-bottom: 2px;
}

.catalog__digits {
  display: none;
}

.catalog__arrows {
  @include reset-list;
  @include centralize;
  display: flex;
  width: 270px;
  height: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ffffff;
}

.catalog__arrow {
  padding-top: 2px;
  width: 50%;
  transition: 200ms ease;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__arrow a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.catalog__arrow svg {
  transform: scaleY(1.5);
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 182px;
    padding-bottom: 78px;
  }

  .catalog__list {
    margin-bottom: 42px;
  }

  .catalog__card {
    margin-bottom: 39px;
  }

  .catalog__more {
    margin-right: 9px;
    margin-bottom: 51px;
    font-size: 20px;
    line-height: 1.5;
  }

  .catalog__more svg {
    margin-right: 25px;
    margin-bottom: 0;
    width: 27px;
    height: 27px;
  }

  .catalog__pages {
    margin-bottom: 45px;
    padding-top: 25px;
    padding-right: 20px;
    padding-left: 28px;
    padding-bottom: 25px;

    display: flex;
    justify-content: space-between;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #ffffff;
  }

  .catalog__digits {
    @include reset-list;
    display: flex;
  }

  .catalog__page {
    width: 50px;
    height: 50px;
    transition: 200ms ease;

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

    &--current {
      background-color: $color-lightgold;
    }
  }

  .catalog__page:hover a,
  .catalog__page:focus a {
    opacity: 0.6;
  }

  .catalog__page:active {
    background-color: $color-lightgold;
  }

  .catalog__page a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: $color-darktwo;

    transition: 200ms ease;
  }

  .catalog__arrows {
    @include reset-margin;
    width: 85px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-top: -61px;
    padding-top: 137px;
    padding-bottom: 78px;
  }

  .catalog__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .catalog .catalog__search {
    @include reset-margin;
    order: 2;
  }

  .catalog__companions {
    order: 1;
    width: 950px;
  }

  .catalog__card {
    margin-bottom: 30px;
  }

  .catalog__list {
    margin-bottom: 64px;
  }

  .catalog__more {
    margin-right: 75px;
    margin-bottom: 68px;
  }

  .catalog__pages {
    margin-bottom: 60px;
    padding-right: 27px;
  }
}
