.catalog {
  padding-top: 75px;
  padding-bottom: 78px;
  background-color: $color-palegrey;
}

.catalog__wrapper {
  @include container-padding;
  @include container-size;
}

.catalog__search {
  margin-bottom: 27px;
}

.catalog__list {
  @include reset-list;
  margin-bottom: 19px;
}

.catalog__card {
  margin-bottom: 10px;
}

.catalog__more {
  margin-bottom: 21px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  text-transform: uppercase;
  color: $color-darkslateblue;

  fill: $color-darkslateblue;
}

.catalog__more svg {
  margin-right: 15px;
  margin-bottom: 2px;
}

.catalog__digits {
  display: none;
}

.catalog__arrows {
  @include reset-list;
  margin: 0 auto;
  display: flex;
  width: 270px;
  height: 50px;
  border-radius: 20px;
  background-color: #ffffff;
}

.catalog__arrow {
  padding-top: 2px;
  width: 50%;
}

.catalog__arrow a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.catalog__arrow svg {
  transform: scaleY(1.5);
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 182px;
    padding-bottom: 78px;
  }

  .catalog__list {
    margin-bottom: 42px;
  }

  .catalog__card {
    margin-bottom: 39px;
  }

  .catalog__more {
    margin-bottom: 51px;
    margin-right: 9px;
    font-size: 20px;
    line-height: 1.5;
  }

  .catalog__more svg {
    margin-right: 25px;
    margin-bottom: 0;
    width: 27px;
    height: 27px;
  }

  .catalog__pages {
    margin-bottom: 45px;
    padding: 25px 20px 25px 28px;

    display: flex;
    justify-content: space-between;

    border-radius: 25px;
    background-color: #ffffff;
  }

  .catalog__digits {
    @include reset-list;
    display: flex;
  }

  .catalog__page {
    width: 50px;
    height: 50px;

    border-radius: 50%;

    &--current {
      background-color: $color-lightgold;
    }
  }

  .catalog__page a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: $color-darktwo;
  }

  .catalog__arrows {
    margin: 0;
    width: 85px;
  }
}
