.companion-card {
  position: relative;
}

.companion-card__img img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.companion-card__level {
  position: absolute;
  top: 16px;
  left: 17px;
}

.companion-card__desc {
  position: relative;
  margin-top: -4px;
  padding: 23px 45px 17px;

  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.companion-card__countries {
  @include reset-list;
  position: absolute;
  top: -12px;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.companion-card__countries li {
  margin: 0 9px;
}

.companion-card__name {
  position: relative;
  font-size: 21px;
  font-weight: bold;
  color: $color-darkslateblue;
}

.companion-card__name::before {
  position: absolute;
  top: 10px;
  left: -16px;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $color-offline;
}

.companion-card__name--online::before {
  background-color: $color-online;
}

.companion-card__tags {
  @include reset-list;
  margin-top: 14px;
  margin-bottom: 9px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  color: $color-blackish;
}

.companion-card__tag {
  margin: 0 2px;
}

@media (min-width: $tablet-width) {
  .companion-card {
    width: 50%;
  }

  .companion-card__img {
    width: 285px;
    height: 285px;
  }

  .companion-card__img img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .companion-card__desc {
    padding: 30px 30px 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .companion-card__level {
    top: 21px;
    left: 20px;
  }

  .companion-card__name {
    font-size: 24px;
    line-height: 1;
  }

  .companion-card__name::before {
    left: -22px;
    width: 7px;
    height: 7px;
  }

  .companion-card__tags {
    margin-top: 19px;
    margin-bottom: 18px;

    min-height: 48px;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media (min-width: $desktop-width) {
  .companion-card {
    width: 285px;
  }

  .companion-card__level {
    top: 23px;
    left: 23px;
  }

  .companion-card__desc {
    padding-top: 32px;
  }
}
