.companion-card {
  position: relative;
}

.companion-card__img img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.companion-card__level-wrapper {
  position: absolute;
  top: 16px;
  left: 17px;

  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.companion-card__circle {
  position: absolute;
  top: 0;
  left: 0;

  transform: rotate(270deg);
}

.companion-card__level {
  position: relative;
  margin: 0;
  margin-top: 11px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;

  &::before {
    position: absolute;
    left: -3px;
    bottom: 23px;

    content: "";
    width: 31px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  &::after {
    position: absolute;
    left: 0;
    bottom: 6px;

    content: "level";
    font-size: 14px;
    font-weight: normal;
  }
}

.companion-card__desc {
  position: relative;
  margin-top: -4px;
  padding: 23px 45px 17px;

  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.companion-card__countries {
  @include reset-list;
  position: absolute;
  top: -12px;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.companion-card__countries li {
  margin: 0 9px;
}

.companion-card__name {
  position: relative;
  font-size: 21px;
  font-weight: bold;
  color: $color-darkslateblue;
}

.companion-card__name::before {
  position: absolute;
  top: 10px;
  left: -16px;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $color-offline;
}

.companion-card__name--online::before {
  background-color: $color-online;
}

.companion-card__tags {
  width: 100%;
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  color: $color-blackish;
}

.companion-card__transport {
  @include reset-list;
  display: flex;
}

.companion-card__transport-item {
  margin: 0 7px;
  fill: $color-darkslateblue;
  opacity: 0.15;

  &--checked {
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .companion-card {
    width: 50%;
  }

  .companion-card__img {
    width: 285px;
    height: 285px;
  }

  .companion-card__img img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .companion-card__desc {
    padding: 30px 30px 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .companion-card__level-wrapper {
    top: 21px;
    left: 20px;
  }

  .companion-card__name {
    font-size: 24px;
    line-height: 1;
  }

  .companion-card__name::before {
    left: -22px;
    width: 7px;
    height: 7px;
  }

  .companion-card__tags {
    min-height: 48px;
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media (min-width: $desktop-width) {
  .companion-card__level-wrapper {
    top: 23px;
    left: 23px;
  }
}
