.contact {
  position: relative;
  z-index: 46;
  margin-top: -31px;
  padding-top: 80px;
  padding-bottom: 28px;
  background-color: $color-darkbluegrey;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.contact__wrapper {
  @include container-padding;
  @include container-size;
}

.contact__title {
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: $color-mango;
}

.contact__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: #ffffff;
}

.contact__link {
  text-decoration: underline;
  color: $color-lightgold;
  transition: 200ms ease;
}

.contact__link:hover,
.contact__link:focus {
  color: $color-mango;
}

.contact__link:active {
  opacity: 0.3;
}

.contact__form {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

.contact__form input {
  padding-top: 24px;
  padding-right: 70px;
  padding-left: 24px;
  padding-bottom: 24px;

  width: 100%;
  height: 62px;

  outline: none;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  font-size: 18px;
  font-weight: bold;
  color: $color-blackish-30;

  transition: color, background-color 200ms ease;
}

.contact__form input:hover {
  background-color: $color-palegrey;
  color: $color-blackish-50;
}

.contact__form input:active,
.contact__form input:focus {
  border: 4px solid #ffffff;
  background-color: transparent;
  color: #ffffff;

  padding-top: 24px;
  padding-right: 66px;
  padding-left: 24px;
  padding-bottom: 24px;
}

.contact__form input:focus:invalid {
  background-color: $color-lightpink;
  color: #ff0000;
}

.contact__form button {
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 62px;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-position: center;

  font-size: 0;
}

.contact__list {
  @include reset-list;
  padding-top: 2px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  text-transform: uppercase;
}

.contact__list a {
  color: $color-lightgold;
}

.contact__item {
  position: relative;
  padding-left: 60px;

  display: flex;
  align-items: center;
  min-height: 45px;
}

.contact__item:hover a,
.contact__item:focus a {
  color: $color-mangothree;
  transition: 200ms ease;
}

.contact__item:hover svg,
.contact__item:focus svg {
  fill: $color-mangothree;
  transition: 200ms ease;
}

.contact__item:active a {
  color: $color-mangothree-30;
}

.contact__item:active svg {
  fill: $color-mangothree-30;
}

.contact__img {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  content: "";
  width: 45px;
  height: 45px;
  background-color: $dark-blue-grey-two;

  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  fill: $color-lightgold;
}

@media (min-width: $tablet-width) {
  .contact {
    margin-top: -61px;
    padding-top: 97px;
    padding-bottom: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .contact__wrapper {
    padding-left: 75px;
    padding-right: 75px;
  }

  .contact__title {
    margin-bottom: 55px;
    font-size: 45px;
    line-height: 1;
  }

  .contact__text {
    font-size: 28px;
    line-height: 1.18;
  }

  .contact__text br {
    display: none;
  }

  .contact__form {
    margin-top: 68px;
    margin-bottom: 55px;
    display: flex;
  }

  .contact__form input {
    padding-top: 35px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 35px;
    width: auto;
    flex-grow: 1;
    height: 81px;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0;
    font-size: 24px;
    line-height: 1;
  }

  .contact__form input:active,
  .contact__form input:focus {
    padding-top: 35px;
    padding-right: 28px;
    padding-left: 28px;
    padding-bottom: 35px;
  }

  .contact__form button {
    position: static;
    width: 82px;
    height: 81px;
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20px;

    &::before {
      right: 35px;
    }
  }

  .contact__list {
    margin-top: 42px;
    font-size: 28px;
    line-height: 1;
  }

  .contact__list li {
    padding-left: 90px;
    min-height: 67px;
  }

  .contact__img {
    width: 67px;
    height: 67px;
  }

  .contact__img--phone svg {
    width: 27px;
    height: 27px;
  }

  .contact__img--mail svg {
    width: 27px;
    height: 19px;
  }
}

@media (min-width: $desktop-width) {
  .contact {
    padding-top: 126px;
    padding-bottom: 105px;
  }

  .contact__title {
    margin-bottom: 58px;
  }

  .contact__text {
    @include centralize;
    width: 650px;

    &--bigger {
      font-size: 29px;
    }
  }

  .contact__form {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 65px;
    width: 1175px;
  }

  .contact__form input {
    padding-right: 350px;
  }

  .contact__form button {
    padding-top: 0;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 0;
    width: 325px;
    background-position: 89% center;
    font-size: 24px;
    font-weight: bold;
    color: $color-darkslateblue;
  }

  .contact__list {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 870px;
  }

  .contact__list li {
    padding-left: 120px;
    min-height: 90px;
  }

  .contact__img {
    width: 90px;
    height: 90px;
  }

  .contact__img--phone svg {
    width: 36px;
    height: 36px;
  }

  .contact__img--mail svg {
    width: 36px;
    height: 26px;
  }
}
