.country-card__img img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.country-card__desc {
  position: relative;
  margin-top: -15px;
  padding-top: 24px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ffffff;
  z-index: 2;
}

.country-card__flag {
  position: absolute;
  left: 25px;
  top: -12px;
}

.country-card__title {
  @include reset-margin;
  font-size: 21px;
  color: $color-darktwo;
}

.country-card__text {
  @include reset-margin;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-align: left;
  color: $color-blackish;
  opacity: 0.3;
}

.country-card__views {
  @include reset-margin;

  position: absolute;
  top: 28px;
  right: 24px;

  padding-left: 18px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: $color-blackish;
  opacity: 0.3;

  &::before {
    position: absolute;
    top: 3px;
    left: 0;
    content: "";
    width: 11px;
    height: 11px;
    background-image: url("../img/sprite.svg#user");
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .country-card {
    padding-top: 0;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 0;

    display: flex;
    align-items: flex-start;
  }

  .country-card__desc {
    order: 1;

    margin: 0;
    padding-top: 29px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 50px;

    width: 100%;
    min-height: 140px;

    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0;
  }

  .country-card__img {
    order: 2;
  }

  .country-card__img img {
    min-width: 186px;
    min-height: 140px;
    object-fit: fill;

    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20px;
  }

  .country-card__flag {
    left: auto;
    right: -36px;
    top: 16px;

    width: 70px;
    height: 47px;
  }

  .country-card__views {
    top: auto;
    right: auto;
    left: 30px;
    bottom: 18px;

    padding-left: 30px;

    font-size: 20px;
    line-height: 1.5;

    &::before {
      top: 5px;
      width: 21px;
      height: 20px;
    }
  }

  .country-card__title {
    margin-bottom: 6px;
    font-size: 24px;
    line-height: 1;
  }

  .country-card__text {
    font-size: 20px;
    line-height: 0.88;
  }
}


@media (min-width: $desktop-width) {
  .country-card__desc {
    padding-top: 22px;
    padding-left: 32px;
  }

  .country-card__flag {
    top: 23px;
  }
}
