.countries {
  @include reset-list;
  margin-top: 22px;
  margin-bottom: 25px;
}

.countries__item {
  position: relative;
  margin-bottom: 22px;

  display: flex;
  height: 42px;
}

.countries__country {
  @include reset-margin;

  position: relative;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 10px;
  padding-bottom: 10px;

  flex-grow: 1;
  height: 100%;

  border: 1px solid $color-cloudyblue;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: $color-darkslateblue;

  cursor: pointer;
  transition: border-color 200ms ease;

  &:hover,
  &:focus {
    border: 1px solid $color-blueygrey;
  }
}

.countries__item::before {
  position: absolute;
  right: 50px;
  bottom: -15px;

  content: "";
  width: 5px;
  height: 10px;

  background-image: url("../img/sprite.svg#small-arrow");
  background-position: center;
  background-size: 10px 20px;
  opacity: 0.3;
}

.countries__item::after {
  position: absolute;
  top: 17px;
  right: 49px;

  content: "";
  width: 8px;
  height: 8px;

  border: 1px solid $color-darkslateblue;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: $color-darkslateblue;
}

.countries__country::before {
  position: absolute;
  z-index: 2;
  top: 1px;
  right: 5px;

  content: "";
  width: 50px;
  height: 90%;

  background-image: linear-gradient(to left, #ffffff 0, #ffffff 50%, rgba(255, 255, 255, 0.1) 100%);
}

.countries__country::after {
  position: absolute;
  z-index: 3;
  top: 17px;
  right: 13px;

  content: "";
  width: 12px;
  height: 7px;

  background-image: url("../img/sprite.svg#dropdown-form");
  background-position: center;
  background-size: 100%;
  opacity: 0.3;
}

.countries__country span {
  position: absolute;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
}

.countries__flag {
  position: relative;
  margin-left: -1px;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 8px;

  width: 53px;
  height: 100%;

  border: 1px solid $color-cloudyblue;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.countries__remove {
  position: absolute;
  z-index: 3;
  top: -11px;
  right: -11px;

  width: 21px;
  height: 21px;

  outline: none;
  border: none;

  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: $color-palegrey;
  fill: rgba(0, 0, 0, 0.3);

  transition: 200ms ease;

  &:hover,
  &:focus {
    cursor: pointer;
    fill: rgba(0, 0, 0, 0.8);
  }

  &:active {
    fill: rgba(0, 0, 0, 0.2);
  }
}

.countries__item--add {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.countries__item--add .countries__country {
  border: 1px solid $color-palegrey;
  background-color: $color-palegrey;

  &:hover,
  &:focus {
    border: 1px solid $color-cloudyblue;
    background-color: $color-cloudyblue;
  }

  &:active {
    color: $color-darkslateblue-30;
  }
}

.countries__item--add .countries__country::before {
  display: none;
}

.countries__item--add .countries__country::after {
  top: 13px;
  right: 13px;

  width: 14px;
  height: 14px;
  background-image: url("../img/sprite.svg#qty-plus");
  background-position: center;
  background-size: 100%;
  opacity: 0.3;

  transition: 200ms ease;
}

.countries__item--add .countries__country:active::after {
  opacity: 0.1;
}

.countries__item--add::before {
  display: none;
}

.countries__item--new::after {
  border: 1px solid $color-cloudyblue;
  background-color: #ffffff;
}

.countries__item--add::after {
  border: 1px solid $color-cloudyblue;
  background-color: $color-palegrey;
}

.countries__item--expanded .countries__remove {
  display: none;
}

.countries__item--expanded .countries__list {
  display: block;
}

@media (min-width: $tablet-width) {
  .countries {
    position: relative;
  }

  .countries::before {
    position: absolute;
    top: -42px;
    left: 0;

    content: "";
    width: 100%;
    height: 1px;

    background-color: $color-lightbluegreytwo;
  }

  .countries::after {
    position: absolute;
    top: -42px;
    right: 136px;

    content: "";
    width: 1px;
    height: calc(100% + 72px);

    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1) 0, $color-lightbluegreytwo 25px);
  }

  .countries__item {
    margin-bottom: 15px;
    align-items: center;
    height: 70px;
  }

  .countries__item::before {
    display: none;
  }

  .countries__item::after {
    top: 26px;
    right: 129px;

    width: 15px;
    height: 15px;

    z-index: 10;
  }

  .countries__country {
    margin-right: 54px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .countries__country::before {
    right: 5px;
  }

  .countries__country::after {
    top: 30px;
    right: 26px;

    width: 17px;
    height: 9px;

    background-image: url("../img/sprite.svg#dropdown-form");
    background-position: center;
    background-size: 100%;
  }


  .countries__item--add .countries__country::after {
    top: 24px;
    right: 26px;

    width: 18px;
    height: 18px;
    opacity: 0.2;
  }

  .countries__item--new .countries__country {
    margin-right: 123px;
  }

  .countries__item--add .countries__country,
  .countries__item--expanded .countries__country {
    margin-right: 163px;
  }

  .countries__flag {
    @include reset-padding;
    width: 70px;
    height: 47px;
    border: none;
  }

  .countries__remove {
    position: static;
    margin-left: 19px;
    opacity: 0.3;
  }

  .countries__remove svg {
    width: 17px;
    height: 17px;
  }
}

@media (min-width: $desktop-width) {
  .add-plan .countries {
    padding-top: 32px;
    margin-bottom: 55px;
  }

  .countries::before {
    top: -31px;
  }

  .countries::after {
    top: -30px;
    right: 225px;
    height: calc(100% + 155px);
  }

  .countries__item::after {
    right: 218px;
  }

  .countries__country::before {
    height: 90%;
  }

  .countries__item .countries__country {
    margin-right: 86px;
  }

  .countries__item--new .countries__country {
    margin-right: 155px;
  }

  .countries__item--add .countries__country,
  .countries__item--expanded .countries__country {
    margin-right: 270px;
  }

  .countries__remove {
    margin-right: 9px;
    margin-left: 85px;
  }

  .countries__remove svg {
    width: 18px;
    height: 18px;
  }
}
