.fieldset {
  margin: 0;
  margin-bottom: 10px;
  padding: 5px 25px 7px;

  border: none;
  outline: none;

  border-radius: 10px;
  background-color: #ffffff;

  &--stepone {
    padding-bottom: 17px;
  }
}

.fieldset__next,
.fieldset__prev,
.fieldset__submit {
  width: 100%;
  height: 40px;
}

.fieldset__next {
  margin-bottom: 5px;
}

.fieldset__prev {
  background: none;
}

.fieldset__submit {
  margin-bottom: 8px;
  border: none;
}

.fieldset__title {
  font-size: 20px;
  line-height: 1;
  color: $color-darkslateblue;
}

.fieldset__text {
  font-size: 16px;
  line-height: 1.38;
  color: $color-blackish;
}

.fieldset__calendar {
  margin-top: 21px;
  margin-bottom: 23px;
}
