.fun {
  @include reset-list;
  margin-top: 22px;
  margin-bottom: 15px;
}

.fun__item {
  position: relative;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.fun__wrapper {
  position: relative;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;

  &::before {
    position: absolute;
    top: 8px;
    left: -3px;

    content: "";
    width: 6px;
    height: 6px;

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: $color-darkslateblue;
  }

  &::after {
    position: absolute;
    top: 11px;
    left: -14px;

    content: "";
    width: 2px;
    height: 281px;

    background-color: $color-darkslateblue;
  }
}

.fun__title {
  position: relative;
  padding-left: 11px;

  display: block;
  flex-grow: 1;
  height: 20px;

  font-size: 18px;
  font-weight: 500;
  color: $color-darkslateblue;

  &::after {
    position: absolute;
    top: 0;
    right: 0;

    content: "";
    width: 45px;
    height: 100%;

    background-image: linear-gradient(to left, #ffffff 0, #ffffff 65%, rgba(0, 0, 0, 0) 100%);
  }

  &::before {
    position: absolute;
    top: 10px;
    left: -14px;

    content: "";
    width: 15px;
    height: 2px;

    background-color: $color-darkslateblue;
  }
}

.fun__title span {
  position: absolute;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
}

.fun__item:last-child .fun__wrapper {
  &::after {
    display: none;
  }
}

.fun__text {
  padding-top: 7px;
  padding-right: 13px;
  padding-left: 13px;
  padding-bottom: 7px;
  width: 100%;
  height: 220px;
  resize: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  outline: none;
  border: 1px solid $color-cloudyblue;
  font-size: 16px;
  line-height: 1.38;
  color: $color-blackish;
  transition: 200ms ease;

  &:hover {
    border: 1px solid $color-blueygrey;
  }

  &:focus,
  &:active {
    border: 1px solid $color-darktwo;
  }

  &:focus:invalid {
    border: 1px solid $color-blush;
  }
}

@media (min-width: $tablet-width) {
  .fun {
    padding-right: 32px;
    margin-bottom: 21px;
    margin-top: 65px;
  }

  .fun__wrapper {
    margin-bottom: 27px;
    align-items: center;

    &::before {
      position: absolute;
      top: 15px;
      right: -35px;
      left: auto;

      content: "";
      width: 15px;
      height: 15px;

      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      background-color: $color-darkslateblue;
    }

    &::after {
      position: absolute;
      top: 30px;
      right: -29px;
      left: auto;

      content: "";
      width: 3px;
      height: 247px;

      background-color: $color-darkslateblue;
    }
  }

  .fun__title {
    @include reset-padding;
    margin-bottom: 12px;
    height: 30px;
    font-size: 30px;
    font-weight: bold;
    line-height: 0.6;

    &::before {
      display: none;
    }

    &::after {
      right: 5px;
      width: 20%;
    }
  }

  .fun__title span {
    padding-top: 8px;
    display: block;
    height: 100%;
  }

  .fun__flag {
    width: 70px;
    height: 47px;
  }

  .fun__text {
    margin-bottom: 20px;
    padding-top: 14px;
    padding-right: 30px;
    padding-left: 18px;
    padding-bottom: 14px;

    height: 142px;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media (min-width: $desktop-width) {
  .fun {
    position: relative;
    padding-top: 43px;
    margin-bottom: 30px;

    &::before {
      position: absolute;
      top: -31px;
      left: 0;

      content: "";
      width: 100%;
      height: 1px;
      background-color: $color-lightbluegreytwo;
    }
  }

  .fun__wrapper {
    padding-right: 85px;

    &::before {
      right: 186px;
    }

    &::after {
      right: 192px;
    }
  }

  .fun__title {
    width: 730px;
    flex-grow: 0;
  }

  .fun__text {
    padding-top: 22px;
    padding-right: 15px;
    padding-left: 25px;
    padding-bottom: 20px;
    width: 730px;
  }
}
