.level {
  position: absolute;

  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.level__number {
  position: relative;
  margin: 0;
  margin-top: 11px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;

  &::before {
    position: absolute;
    left: -3px;
    bottom: 23px;

    content: "";
    width: 31px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  &::after {
    position: absolute;
    left: 0;
    bottom: 6px;

    content: "level";
    font-size: 14px;
    font-weight: normal;
  }
}

.level__circle {
  position: absolute;
  top: 0;
  left: 0;

  transform: rotate(270deg);
}

.profile .level {
  position: relative;
  top: auto;
  left: auto;
  width: 100px;
  height: 100px;
  background: none;
}

.profile .level__number {
  padding-top: 6px;
  font-size: 38px;
  color: $color-darktwo;

  &::before {
    left: -3px;
    bottom: 40px;
    width: 49px;
    height: 2px;
    background-color: $color-cloudyblue;
  }

  &::after {
    left: 5px;
    bottom: 18px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.catalog .level {
  width: 45px;
  height: 45px;
  background-color: #ffffff;
}

.catalog .level__number {
  color: $color-darkslateblue;

  &::before {
    display: none;
  }

  &::after {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .profile .level {
    width: 94px;
    height: 94px;
  }

  .profile .level__number {
    padding-top: 4px;
    font-size: 38px;
    color: $color-darktwo;

    &::before {
      left: -3px;
      bottom: 36px;
      background-color: rgba(0, 0, 0, 0.3);
    }

    &::after {
      left: 5px;
      bottom: 14px;
      font-size: 18px;
      line-height: 1.22;
    }
  }

  .catalog .level {
    width: 60px;
    height: 60px;
  }

  .catalog .level__number {
    color: $color-darkslateblue;

    &::before {
      display: block;
      background-color: $color-blackish;
      opacity: 0.4;
    }

    &::after {
      display: block;
      color: $color-blackish;
      opacity: 0.4;
    }
  }
}

@media (min-width: $desktop-width) {
  .profile .level__number {
    padding-top: 4px;
    font-size: 38px;
    color: #ffffff;

    &::before {
      left: -3px;
      bottom: 36px;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
