.main-nav {
  @include container-padding;
  position: absolute;
  bottom: 1px;
  left: auto;
  right: auto;
  margin: 0 auto;

  width: 100%;
  transform: translateY(100%);
  background-color: #ffffff;
  z-index: 10;
}

.page-header--toggled .main-nav__wrapper,
.page-header--nojs .main-nav__wrapper {
  display: block;
}

.main-nav__wrapper {
  padding-top: 25px;
  display: none;
}

.main-nav__menu {
  @include reset-list;
  margin-bottom: 52px;

  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: $color-darkbluegrey;
}

.main-nav__button {
  margin: 0 auto;
  margin-bottom: 51px;

  width: 270px;
  height: 50px;
  border-radius: 25px;
  color: $color-darktwo;
}

.main-nav__contact {
  @include reset-list;
  margin-bottom: 42px;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  text-transform: uppercase;
  color: $color-darkbluegrey;
}

.main-nav__contact li {
  position: relative;
  padding-left: 60px;

  display: flex;
  align-items: center;
  min-height: 45px;
}

.main-nav__img {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  content: "";
  width: 45px;
  height: 45px;
  background-color: $dark-blue-grey-two;

  border-radius: 50%;
  fill: $color-lightgold;
}

.main-nav__social {
  @include reset-list;
  padding-bottom: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav__social li {
  margin: 0 13px;
}

.main-nav__social svg {
  fill: $color-darkbluegrey;
}
