.main-nav {
  @include container-padding;
  position: absolute;
  bottom: 2px;
  left: auto;
  right: auto;
  margin: 0 auto;

  width: 100%;
  transform: translateY(100%);
  background-color: #ffffff;
  z-index: 100;
}

.page-header--nojs .main-nav {
  position: relative;
  transform: translateY(30px);
}

.page-header--toggled .main-nav__wrapper,
.page-header--nojs .main-nav__wrapper {
  display: block;
}

.main-nav__wrapper {
  padding-top: 25px;
  padding-bottom: 37px;
  display: none;
}

.main-nav__menu {
  @include reset-list;
  margin-bottom: 52px;

  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: $color-darkbluegrey;
}

.main-nav__menu a {
  transition: 200ms ease;
}

.main-nav__menu a:hover,
.main-nav__menu a:focus {
  color: $color-lightgold;
}

.main-nav__menu a:active {
  opacity: 0.3;
}

.main-nav__button {
  margin: 0 auto;
  margin-bottom: 51px;

  width: 270px;
  height: 50px;
  border-radius: 25px;
  color: $color-darktwo;
}

.main-nav__contact {
  @include reset-list;
  margin-bottom: 42px;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  text-transform: uppercase;
  color: $color-darkbluegrey;
}

.main-nav__contact li {
  position: relative;
  padding-left: 60px;

  display: flex;
  align-items: center;
  min-height: 45px;
}

.main-nav__contact-method:hover a,
.main-nav__contact-method:focus a {
  color: $color-lightgold;
}

.main-nav__contact-method:active svg {
  opacity: 0.3;
}

.main-nav__contact-method:active a {
  color: $color-lightgold-30;
}

.main-nav__img {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  content: "";
  width: 45px;
  height: 45px;
  background-color: $dark-blue-grey-two;

  border-radius: 50%;
  fill: $color-lightgold;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    padding-top: 48px;
    padding-left: 57px;
    padding-bottom: 86px;
  }

  .main-nav__menu {
    margin-bottom: 135px;

    font-size: 60px;
    font-weight: 500;
    line-height: 1.18;
    text-align: left;
  }

  .main-nav__button {
    display: none;
  }

  .main-nav__contact li {
    padding-left: 91px;
    min-height: 67px;
  }

  .main-nav__img {
    width: 67px;
    height: 67px;
  }

  .main-nav__img--phone svg {
    width: 27px;
    height: 27px;
  }

  .main-nav__img--mail svg {
    width: 27px;
    height: 19px;
  }

  .main-nav__contact {
    margin-bottom: 132px;
    font-size: 28px;
    line-height: 1;
  }
}


@media (min-width: $desktop-width) {
  .page-header--nojs .main-nav {
    position: absolute;
  }

  .main-nav {
    top: 30px;
    left: -66px;
    right: 0;
    bottom: auto;
    max-width: 800px;

    background-color: transparent;

    &::before {
      position: absolute;
      top: 14px;
      left: 13px;

      content: "";
      width: 60px;
      height: 2px;

      background-color: #ffffff;
    }
  }

  .main-nav__wrapper {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }

  .main-nav__menu {
    position: relative;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 1.5;

    &::before {
      position: absolute;
      top: 0;
      left: -10px;
    }
  }

  .main-nav__menu li {
    margin-right: 34px;
    overflow: hidden;
  }

  .main-nav__menu a {
    position: relative;
    display: block;
    color: #ffffff;
    transition: 500ms ease;

    &:hover,
    &:focus {
      color: #ffffff;
      transform: translateY(-100%);
    }

    &::before {
      position: absolute;
      top: 100%;

      content: attr(data-title);
      color: $color-lightgold;
    }
  }

  .main-nav .main-nav__contact,
  .main-nav .main-nav__social {
    display: none;
  }

  .page-header--scrolled .main-nav {
    top: 5px;

    &::before {
      background-color: $color-darkbluegrey;
    }
  }

  .page-header--scrolled a {
    color: $color-darkbluegrey;
  }
}
