.map__wrapper {
  position: relative;
  z-index: 45;
  margin-top: -31px;
  padding-top: 65px;
  padding-bottom: 36px;
  background-color: $color-lightgold;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.map__text {
  @include container-padding;
  @include container-size;
}

.map__address {
  @include reset-margin;
  position: relative;
  margin-bottom: 30px;
  padding-left: 60px;

  width: 80%;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  text-transform: uppercase;
  color: $color-darkbluegrey;
}

.map__address::before {
  position: absolute;
  top: -2px;
  left: 0;

  content: "";
  width: 45px;
  height: 45px;

  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: $color-darkbluegrey;
  background-image: url("../img/sprite.svg#contacts-location");
  background-repeat: no-repeat;
  background-size: 22px 28px;
  background-position: center;
}

.map__button {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;

  justify-content: flex-start;
  width: 100%;
  height: 62px;

  font-size: 18px;
  text-transform: none;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid 3px $color-darkbluegrey;
}

.map__button:hover,
.map__button:focus {
  background-color: $color-darkbluegrey;
  color: #ffffff;

  &::before {
    background-image: url("../img/sprite.svg#triangle-arrow-right-white");
    transition: 200ms ease;
  }
}

.map__button:active {
  color: rgba(255, 255, 255, 0.3);

  &::before {
    opacity: 0.3;
  }
}

.map__container {
  position: relative;
  margin-top: -36px;
  z-index: 44;
  width: 100%;
  height: 340px;

  background-image:
    url("../img/sprite.svg#map-marker"),
    url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position:
    center center,
    center center;
  background-size:
    41px 41px,
    100% 450px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/sprite.svg#map-marker"),
      url("../img/map-mobile@2x.jpg");
  }
}


@media (min-width: $tablet-width) {
  .map__wrapper {
    margin-top: -61px;
    padding-top: 110px;
    padding-bottom: 85px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .map__address {
    margin-bottom: 42px;
    padding-top: 18px;
    padding-left: 130px;
    width: 90%;
    min-height: 67px;
    font-size: 28px;
    line-height: 1;
  }

  .map__address::before {
    left: 35px;
    width: 67px;
    height: 67px;

    background-size: 33px 42px;
  }

  .map__button {
    @include centralize;
    padding-top: 0;
    padding-right: 34px;
    padding-left: 34px;
    padding-bottom: 0;
    width: 90%;
    height: 81px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    font-size: 24px;

    &::before {
      right: 32px;
    }
  }

  .map__container {
    height: 558px;
    background-image:
      url("../img/sprite.svg#map-marker"),
      url("../img/map-tablet@1x.jpg");
    background-position:
      center 225px,
      center -50px;
    background-size:
      57px 56px,
      100% 560px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/sprite.svg#map-marker"),
        url("../img/map-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .map {
    margin-top: -61px;
    padding-top: 68px;
  }

  .map__wrapper {
    padding-bottom: 10px;
  }

  .map__text {
    margin-left: auto;
    margin-right: auto;
    padding-left: 250px;
    display: flex;
    justify-content: flex-start;
  }

  .map__address {
    margin-right: 150px;
    padding-top: 27px;
    padding-left: 155px;

    width: auto;
    min-height: 90px;

    &::before {
      width: 90px;
      height: 90px;

      background-size: 46px 58px;
    }
  }

  .map__button {
    @include reset-margin;
    padding-bottom: 2px;
    width: 324px;

    background-position: 89% center;
  }

  .map__container {
    height: 494px;
    background-image:
      url("../img/sprite.svg#map-marker"),
      url("../img/map-desktop@1x.jpg");
    background-position:
      center 180px,
      center -50px;
    background-size:
      57px 56px,
      100% 494px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/sprite.svg#map-marker"),
        url("../img/map-desktop@2x.jpg");
    }
  }
}
