.page-header {
  position: relative;
  padding-top: 27px;
  background-color: $color-darkblue;
}

.page-header__logo {
  padding-bottom: 40px;
  display: none;

  &--white {
    display: block;
  }
}

.page-header__wrapper {
  @include container-padding;
  @include container-size;
}

.page-header__toggle {
  position: absolute;
  right: 25px;
  top: 31px;

  width: 25px;
  height: 19px;

  border: none;
  font-size: 0;

  background: none;

  z-index: 3;

  &:hover {
    cursor: pointer;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    content: "";

    width: 25px;
    height: 3px;
    background-color: #ffffff;

    box-shadow: 0 8px 0 0 #ffffff;
    border-radius: 2px;
  }
}

.page-header--nojs .page-header__toggle {
  display: none;
}

.page-header--toggled .page-header__toggle {
  &::before {
    top: 5px;
    height: 2px;
    background-color: $color-pinkishgrey;
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    position: absolute;
    top: 5px;
    left: 0;

    display: block;
    content: "";

    width: 25px;
    height: 2px;
    background-color: $color-pinkishgrey;

    transform: rotate(-45deg);
  }
}

.page-header--toggled,
.page-header--nojs {
  background-color: #ffffff;
}

.page-header--toggled .page-header__logo,
.page-header--nojs .page-header__logo {
  &--white {
    display: none;
  }

  &--blue {
    display: block;
  }
}

.page-header--toggled .page-header__panel,
.page-header--nojs .page-header__panel {
  display: none;
}
