.page-footer {
  position: relative;
  z-index: 45;
  margin-top: -33px;
  padding-top: 39px;
  padding-bottom: 15px;
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.page-footer__wrapper {
  @include container-padding;
  @include container-size;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-bottom: 35px;
}

.page-footer__social {
  margin-bottom: 42px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $color-blackish;
}

.page-footer__copyright svg {
  margin-top: 10px;
  fill: $color-darkbluegrey;
}


@media (min-width: $tablet-width) {
  .page-footer {
    margin-top: -61px;
    padding-top: 42px;
    padding-bottom: 15px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__logo img {
    width: 166px;
    height: 42px;
  }

  .page-footer__social {
    margin-right: 10px;
  }

  .page-footer__copyright {
    padding-bottom: 50px;
    width: auto;
    min-width: 155px;
    align-items: center;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    margin-top: -61px;
    padding-top: 42px;
    padding-bottom: 15px;
  }

  .page-footer__social {
    margin-right: 40px;
  }

  .page-footer__logo img {
    width: 198px;
    height: 52px;
  }
}
