.page-main--scrolled {
  padding-top: 81px;
}

.page-main--index.page-main--scrolled {
  padding-top: 90px;
}

@media (min-width: $tablet-width) {
  .page-main--scrolled {
    padding-top: 133px;
  }

  .page-main--index.page-main--scrolled {
    padding-top: 134px;
  }
}

@media (min-width: $desktop-width) {
  .page-main.page-main--scrolled {
    padding-top: 143px;
  }
}
