.panel {
  @include reset-list;
  position: absolute;
  left: 0;
  top: 458px;

  width: 100%;
  display: flex;
  justify-content: center;

  z-index: 1;
}

.panel__item {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 40px;
  min-height: 40px;
  border-radius: 20px;
  background-color: $color-lightgold;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  text-align: center;
  text-transform: uppercase;
  color: $color-darktwo;

  &--phone {
    background-color: $color-mango;
  }

  &--mail {
    background-color: $color-mangothree;
  }

  &--button {
    min-width: 189px;
  }
}
