.panel {
  @include reset-list;

  width: 100%;
  display: flex;
  justify-content: center;

  z-index: 1;
}

.panel__item {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 40px;
  min-height: 40px;
  border-radius: 20px;
  background-color: $color-lightgold;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  text-align: center;
  text-transform: uppercase;
  color: $color-darktwo;

  &--phone {
    padding-top: 6px;
    background-color: $color-mango;
  }

  &--mail {
    padding-top: 2px;
    background-color: $color-mangothree;
  }

  &--button {
    min-width: 189px;
  }
}

@media (min-width: $tablet-width) {
  .panel {
    width: auto;
  }

  .panel__item {
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    line-height: 1.5;

    &--phone {
      display: none;
    }

    &--mail {
      display: none;
    }
  }
}
