.plan {
  margin-bottom: 9px;
  padding: 22px 24px 24px;

  border-radius: 10px;
  background-color: #ffffff;
}

.plan__title {
  margin: 0;
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: bold;
  color: $color-darkslateblue;
}

.plan__title span {
  margin-right: 2px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
}

.plan__details {
  margin-bottom: 20px;
}

.plan__text {
  margin: 0;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: $color-darkslateblue;
}

.plan__button {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

@media (min-width: $tablet-width) {
  .plan {
    position: relative;
    padding: 26px 32px 18px;

    &::after {
      position: absolute;
      left: 0;
      bottom: 54px;

      content: "";
      width: 100%;
      height: 1px;

      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .plan__title {
    position: relative;
    margin-bottom: 41px;
    padding: 0 3px;
    font-size: 24px;
    line-height: 2.08;
  }

  .plan__title span {
    position: absolute;
    top: 5px;
    right: -5px;
    font-size: 20px;
  }

  .plan__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .plan__details {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .plan__text {
    margin-right: 45px;
    min-width: 142px;
  }

  .plan__text,
  .plan__button {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }
}

@media (min-width: $desktop-width) {
  .plan {
    margin-bottom: 15px;
    padding: 24px 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      display: none;
    }
  }

  .plan__title {
    margin: 0;
  }

  .plan__title span {
    position: static;
    margin-right: 34px;
  }

  .plan__details {
    width: 380px;
    margin-right: 102px;
    justify-content: flex-start;
  }

  .plan__text {
    margin-right: 35px;

    &:last-child {
      margin: 0;
    }
  }
}
