.plan {
  margin-bottom: 9px;
  padding: 22px 24px 24px;

  border-radius: 10px;
  background-color: #ffffff;
}

.plan__title {
  margin: 0;
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: bold;
  color: $color-darkslateblue;
}

.plan__title span {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
}

.plan__details {
  margin-bottom: 20px;
}

.plan__text {
  margin: 0;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: $color-darkslateblue;
}

.plan__button {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}
