.premium {
  position: relative;
  z-index: 47;
  margin-top: -31px;
  padding-top: 80px;
  padding-bottom: 37px;
  background-color: $color-palegrey;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.premium__wrapper {
  @include container-padding;
  @include container-size;
  padding-left: 50px;
  padding-right: 50px;
}

.premium__title {
  @include reset-margin;
  position: relative;
  margin-bottom: 46px;

  font-size: 24px;
  line-height: 1;
  color: $color-mango;
}

.premium__title::after {
  position: absolute;
  top: -12px;
  right: -25px;

  content: "";
  width: 99px;
  height: 99px;

  background-image: url("../img/rates@1x.png");
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/rates@2x.png");
  }
}

.premium__list {
  @include reset-list;
  margin-bottom: 30px;

  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  color: $color-blackish;
}

.premium__list p {
  @include reset-margin;
}

.premium__item {
  position: relative;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 11px;

  width: 90%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  &:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.premium__service::after {
  position: absolute;
  top: 3px;
  right: -45px;

  content: "1";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;

  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;

  font-size: 16px;
  line-height: 0.88;
  color: #ffffff;

  background-color: $color-lightgold;
}

.premium__item:nth-child(1) .premium__service::after {
  content: "1";
  background-color: $color-mangotwo;
}

.premium__item:nth-child(2) .premium__service::after {
  content: "2";
  background-color: $color-mangothree;
}

.premium__item:nth-child(3) .premium__service::after {
  content: "3";
}

.premium__button {
  font-size: 16px;
  font-weight: bold;
  color: $color-lightnavy;
  transition: 200ms ease;
}

.premium__button:hover,
.premium__button:focus {
  color: $color-lightnavy-70;

  &::after {
    opacity: 0.7;
  }
}

.premium__button:active {
  color: $color-lightnavy-30;

  &::after {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .premium {
    margin-top: -61px;
    padding-top: 130px;
    padding-bottom: 88px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .premium__title {
    margin-bottom: 77px;
    text-align: center;
    font-size: 45px;
    line-height: 1;

    &::after {
      display: none;
      background-image: none;
    }
  }

  .premium__title br {
    display: none;
  }

  .premium__list {
    position: relative;
    margin-bottom: 55px;
    padding-left: 90px;

    &::before {
      position: absolute;
      top: -40px;
      right: 0;

      content: "";
      width: 198px;
      height: 285px;

      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

      background-color: $color-palegreythree;
    }
  }

  .premium__list::after {
    position: absolute;
    right: 45px;
    bottom: -115px;

    content: "";
    width: 99px;
    height: 99px;

    background-image: url("../img/rates@1x.png");
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/rates@2x.png");
    }
  }

  .premium__item {
    position: relative;
    z-index: 2;

    padding-top: 15px;
    padding-bottom: 15px;
    width: 93.8%;
    min-height: 67px;
    display: flex;
    justify-content: space-between;

    font-size: 28px;
    line-height: 1.18;
  }

  .premium__service::after {
    top: 0;
    left: -90px;
    right: auto;

    width: 67px;
    height: 67px;
    font-size: 28px;
  }

  .premium__button {
    position: relative;
    padding-left: 89px;
    font-size: 20px;
    line-height: 1;
    color: $color-lightnavy;

    &::before {
      position: absolute;
      top: -20px;
      left: 0;

      content: "";
      width: 67px;
      height: 67px;

      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;

      background-color: $color-palegreythree;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 23px;

      content: "";
      width: 21px;
      height: 26px;

      background-image: url("../img/sprite.svg#business");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media (min-width: $desktop-width) {
  .premium {
    padding-top: 165px;
    padding-bottom: 190px;
  }

  .premium__wrapper {
    padding-left: 130px;
  }

  .premium__title {
    margin-right: 67px;
    margin-bottom: 135px;
  }

  .premium__list {
    width: 960px;

    &::before {
      top: -50px;
      right: -105px;
      width: 444px;
      height: 300px;
    }

    &::after {
      right: -215px;
      bottom: 0;
      width: 198px;
      height: 198px;
    }
  }
}
