.profile {
  position: relative;
  z-index: 42;
  margin-top: -21px;
  padding-top: 44px;
  padding-bottom: 37px;
  background-color: $color-palegrey;
}

.profile__wrapper {
  @include container-padding;
  @include container-size;
  position: relative;
}

.profile__tags-wrapper {
  @include reset-padding;
  position: relative;

  margin-bottom: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__tags {
  padding-top: 21px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 22px;

  width: 100%;
  height: 100%;
  resize: none;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  border: 1px solid $color-cloudyblue;
  background-color: $color-palegrey;

  font-size: 16px;
  line-height: 1.38;
  color: $color-blackish;
}

.profile__tags:hover {
  border: 1px solid $color-cloudybluetwo;
}

.profile__tags:active,
.profile__tags:focus {
  border: 1px solid $color-darktwo;
}

.profile__transport-wrapper {
  position: relative;

  margin-bottom: 26px;
  padding-top: 15px;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 14px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid $color-cloudyblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.profile__title {
  @include reset-margin;

  position: absolute;
  top: -9px;

  padding-top: 0;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 0;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.13;
  text-transform: uppercase;
  text-align: center;
  color: $color-darkslateblue;

  background-color: $color-palegrey;
}


@media (min-width: $tablet-width) {
  .profile {
    margin-top: -61px;
    padding-top: 125px;
    padding-bottom: 65px;
  }

  .profile__wrapper {
    padding-left: 75px;
    padding-right: 75px;
  }

  .profile__avatar {
    margin-bottom: 51px;
  }

  .profile__transport-wrapper {
    @include centralize;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    padding-top: 22px;
    padding-bottom: 12px;

    width: 40%;
    min-height: 94px;
  }

  .profile__title {
    top: auto;
    bottom: -9px;

    padding-top: 0;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0;

    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .profile__tags {
    padding-top: 32px;
    padding-right: 38px;
    padding-left: 38px;
    padding-bottom: 12px;

    font-size: 20px;
    line-height: 1.2;
  }
}

@media (min-width: $desktop-width) {
  .profile {
    padding-bottom: 97px;
    z-index: auto;
  }

  .profile__wrapper {
    padding-left: 124px;
    padding-right: 60px;
    display: flex;
  }

  .profile__tags-wrapper {
    @include reset-margin;
    position: relative;
    margin-right: 142px;

    width: 730px;
    justify-content: flex-start;
  }

  .profile__tags {
    @include reset-margin;
  }

  .profile__transport-wrapper {
    @include reset-margin;
    position: relative;

    width: 384px;
    justify-content: flex-start;
  }

  .profile__title {
    @include reset-margin;
    left: 18px;
    bottom: -11px;
  }

  .profile__transport-wrapper .profile__title {
    left: auto;
  }
}
