.profile {
  position: relative;
  z-index: 42;
  margin-top: -21px;
  padding-top: 44px;
  padding-bottom: 37px;
  background-color: $color-palegrey;
}

.profile__wrapper {
  @include container-padding;
  @include container-size;
  position: relative;
}

.profile__block {
  position: relative;

  margin-bottom: 26px;
  padding: 19px 22px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid $color-cloudyblue;
  border-radius: 10px;

  &--transport {
    padding: 15px 22px 14px;
  }
}

.profile__title {
  position: absolute;
  top: -9px;

  margin: 0;
  padding: 0 5px;

  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  text-align: center;
  color: $color-darkslateblue;

  background-color: $color-palegrey;
}

.profile__tags {
  width: 100%;
  resize: none;

  border: none;
  background-color: $color-palegrey;

  font-size: 16px;
  line-height: 1.38;
  color: $color-blackish;
}

@media (min-width: $tablet-width) {
  .profile {
    margin-top: -61px;
    padding-top: 125px;
    padding-bottom: 65px;
  }

  .profile__wrapper {
    padding-left: 75px;
    padding-right: 75px;
  }

  .profile__avatar {
    margin-bottom: 51px;
  }

  .profile__block {
    padding-top: 20px;
    padding-bottom: 12px;
  }

  .profile__block--transport {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    padding-top: 22px;

    width: 40%;
    min-height: 94px;
  }

  .profile__title {
    top: auto;
    bottom: -9px;
    padding: 0 20px;

    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .profile__tags {
    padding: 12px 16px 0;

    font-size: 20px;
    line-height: 1.2;
  }
}

@media (min-width: $desktop-width) {
  .profile {
    padding-bottom: 97px;
    z-index: auto;
  }

  .profile__wrapper {
    padding-left: 124px;
    padding-right: 60px;
    display: flex;
  }

  .profile__block {
    position: relative;
    margin: 0;
    margin-right: 142px;

    width: 730px;
    justify-content: flex-start;

    &--transport {
      margin: 0;
      width: 384px;
    }
  }

  .profile__title {
    left: 18px;
    bottom: -11px;
    margin: 0;
  }

  .profile__block--transport .profile__title {
    left: auto;
  }
}
