.promo {
  position: relative;
  padding-bottom: 41px;
  margin-top: -1px;
  background-color: $color-darkblue;
  background-image:
    linear-gradient(to bottom, transparent 390px, $color-darkblue 390px, $color-darkblue 675px, $color-darkbluegrey 675px),
    url("../img/globe-back-mobile@1x.jpg");
  background-position: center, center -89px;
  background-size: 100%, 100% 569px;
  background-repeat: no-repeat;
}

.promo__wrapper {
  @include container-padding;
  @include container-size;
}

.promo__title {
  margin: 0;
  margin-bottom: 11px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
  color: #ffffff;
}

.promo__img {
  margin-bottom: 48px;
  padding-left: 30px;
  display: flex;
  justify-content: center;
}

.promo__text {
  padding: 0 25px;

  max-width: 80%;

  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  color: #ffffff;

  &--author {
    font-weight: bold;
  }
}

.promo__list {
  @include reset-list;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  color: $color-darktwo;
}

.promo__item {
  position: relative;
  margin-bottom: -15px;
  padding: 20px 25px;

  min-height: 95px;
  border-radius: 10px;

  background-color: $color-lightgold;

  &:nth-child(1) {
    background-color: $color-mango;
  }

  &:nth-child(2) {
    background-color: $color-mangotwo;
  }

  &:nth-child(3) {
    background-color: $color-mangothree;
  }

  &:last-child {
    margin-bottom: 0;
    min-height: 80px;
  }
}

.promo__item::after {
  position: absolute;
  right: 21px;
  top: 22px;

  content: "";
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.promo__item:nth-child(1)::after {
  content: "1";
}

.promo__item:nth-child(2)::after {
  content: "2";
}

.promo__item:nth-child(3)::after {
  content: "3";
}

.promo__item:nth-child(4)::after {
  content: "4";
}

.promo__list p {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .promo {
    padding-top: 25px;
    padding-bottom: 105px;
    background-color: $color-darkbluegrey;
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-position: center 250px;
    background-size: 1479px 612px;
    background-repeat: no-repeat;
  }

  .promo__title {
    margin-bottom: 87px;
    font-size: 60px;
    line-height: 1.17;
  }

  .promo__text {
    padding-left: 35px;
    max-width: 50%;
    font-size: 28px;
    line-height: 1.18;

    &--author {
      margin-top: 47px;
      font-size: 21px;
    }
  }

  .promo__img {
    position: absolute;
    right: 14.7%;
    top: 270px;

    padding-left: 0;
    justify-content: flex-end;
  }

  .promo__img img {
    width: 372px;
    height: 495px;
  }

  .promo__list {
    margin-top: 215px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;

    font-size: 24px;
    line-height: 1;
  }

  .promo__item {
    margin: 0;
    padding-top: 27px;
    padding-left: 33px;
    padding-bottom: 60px;

    width: 50%;
    min-height: 140px;
    border-radius: 0;

    &:nth-child(1) {
      width: 55%;
      border-top-left-radius: 20px;
    }

    &:nth-child(2) {
      margin-left: -5%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &:nth-child(3) {
      width: 55%;
      border-bottom-left-radius: 20px;
    }

    &:nth-child(4) {
      margin-left: -5%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

  .promo__item::after {
    top: auto;
    right: auto;
    left: 32px;
    bottom: 25px;
    font-size: 30px;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    position: relative;
  }

  .promo__title {
    margin-top: 37px;
    padding-left: 68px;
    text-align: left;
  }

  .promo__quote {
    position: absolute;
    width: 365px;
    top: -16px;
    right: 15px;
  }

  .promo__text {
    margin-right: 0;
    max-width: 100%;
  }
}
