.routes {
  position: relative;
  z-index: 49;
  margin-top: -31px;
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: $color-palegrey;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.routes__wrapper {
  @include container-padding;
  @include container-size;
}

.routes__desc {
  margin-bottom: 61px;
  padding-top: 0;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 0;
}

.routes__title {
  @include reset-margin;
  margin-bottom: 18px;
  font-size: 24px;
  color: $color-mango;
}

.routes__text {
  @include reset-margin;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  color: $color-blackish;
}

.routes__list {
  @include reset-list;
}

.routes__item {
  margin-bottom: 10px;

  &:last-child {
    position: relative;
    margin-bottom: 25px;
  }
}

.routes__item:last-child::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), $color-palegrey);
  z-index: 3;
}

.routes__button {
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;

  justify-content: flex-start;
  width: 100%;
  height: 62px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  font-size: 18px;
  text-transform: none;

  &--top {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .routes {
    margin-top: -61px;
    padding-top: 130px;
    padding-bottom: 80px;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    &::before {
      position: absolute;
      top: 465px;
      left: 40px;
      content: "";
      width: 141px;
      height: 141px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: $color-palegreythree;
    }
  }

  .routes__wrapper {
    position: relative;
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: 91.7% 10px;
    background-size: 289px 575px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/flags-back@2x.png");
    }
  }

  .routes__desc {
    margin-bottom: 107px;
    padding-left: 35px;
    padding-right: 45%;
  }

  .routes__title {
    margin-bottom: 58px;
    font-size: 45px;
    line-height: 1;
  }

  .routes__text {
    font-size: 28px;
    line-height: 1.18;
  }

  .routes__button {
    @include centralize;
    padding-top: 0;
    padding-right: 34px;
    padding-left: 34px;
    padding-bottom: 0;

    width: 90%;
    height: 81px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    font-size: 24px;
    line-height: 1;

    &::before {
      right: 35px;
    }
  }

  .routes__item {
    margin-bottom: 6px;
  }

  .routes__item:last-child {
    margin-bottom: 42px;
  }
}


@media (min-width: $desktop-width) {
  .routes {
    padding-bottom: 33px;

    &::before {
      display: none;
    }
  }

  .routes__wrapper {
    display: flex;
    padding-top: 92px;
    padding-left: 95px;
    background-position: 94.7% 20px;

    &::before {
      position: absolute;
      top: 20px;
      left: 60px;
      content: "";
      width: 141px;
      height: 141px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: $color-palegreythree;
    }
  }

  .routes__desc {
    @include reset-padding;
    order: 2;
    width: 350px;
  }

  .routes__list {
    order: 1;
    margin-right: 138px;
    width: 629px;
  }

  .routes__text {
    margin-bottom: 100px;
  }

  .routes__button {
    @include reset-margin;
    width: 274px;

    &::before {
      right: 32px;
    }

    &--top {
      display: flex;
    }

    &--bottom {
      display: none;
    }
  }
}
