.search {
  padding: 25px 25px 21px;
  border-radius: 20px;
  background-color: $color-lightgold;
}

.search__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 22.5px;
  font-weight: bold;
  line-height: 1;
  color: $color-darkslateblue;
}

.search__fieldset {
  margin: 0;
  padding: 11px 0 10px;
  border: none;
  border-top: 1px solid $color-macaronicheese;
}

.search__toggle {
  position: relative;
  margin: 0;
  padding: 0;

  width: 100%;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.13;
  text-align: left;
  text-transform: uppercase;
  color: $color-darkslateblue;

  border: none;
  background-color: transparent;

  &::after {
    position: absolute;
    top: 3px;
    right: 0;

    content: "";
    width: 8px;
    height: 12px;

    background-image: url("../img/sprite.svg#dropdown");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.search__toggle span {
  display: none;
}

.search__fieldset--toggled .search__toggle::after {
  transform: rotate(180deg);
}

.search__list {
  @include reset-list;
  margin-top: 14px;
  display: none;
}

.search__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 10px;
  }
}

.search__fieldset--toggled .search__list {
  display: block;
}

.search__checkbox + .search__label {
  position: relative;
  padding-left: 27px;
  font-size: 15px;
  color: $color-blackish;
}

.search__checkbox + .search__label::before {
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  width: 18px;
  height: 18px;

  border-radius: 4px;
  background-color: #ffffff;
}

.search__checkbox:checked + .search__label::before {
  background-image: url("../img/sprite.svg#tick");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9px;
}

.search__transport {
  margin-top: 15px;
  margin-bottom: 9px;

  display: none;
}

.search__fieldset--toggled .search__transport {
  display: flex;
}

.search__level-wrapper {
  position: relative;
  margin-top: 13px;

  display: none;
}

.search__fieldset--toggled .search__level-wrapper {
  display: block;
}

.search__level {
  position: relative;
  margin-bottom: 23px;
  display: flex;
  width: 100%;
}

.search__level input {
  padding: 0 20px;
  width: 50%;
  height: 35px;
  border: 1px solid $color-cloudyblue;
  text-align: center;

  font-size: 15px;
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: 1.5px;
  color: $color-darkslateblue;

  &:first-child {
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.search__level::before {
  position: absolute;
  top: 12px;
  right: 50%;
  transform: translateX(50%);

  content: "";
  width: 16px;
  height: 12px;

  background-color: #ffffff;
}

.search__level::after {
  position: absolute;
  top: 17px;
  right: 50%;
  transform: translateX(50%);

  content: "";
  width: 16px;
  height: 1px;

  background-color: $color-cloudyblue;
}

.search__level-bar {
  display: flex;
  justify-content: flex-end;

  margin-top: 23px;
  width: 100%;
  height: 2px;

  background-color: $color-darkslateblue-20;
}

.search__level-bar-value {
  position: relative;

  width: 68%;
  height: 2px;

  background-color: $color-darkslateblue;
}

.search__slider {
  position: absolute;
  top: -4px;
  padding: 0;

  width: 10px;
  height: 10px;

  border: none;
  border-radius: 50%;
  background-color: $color-darkslateblue;

  &--min {
    left: -2px;
  }

  &--max {
    right: -2px;
  }
}

.search__submit {
  margin-top: 17px;

  width: 100%;
  height: 40px;

  border-radius: 20px;
  border: none;
  background-color: #ffffff;

  color: $color-darktwo;
}

@media (min-width: $tablet-width) {
  .search {
    margin: 0 auto 39px;
    padding: 34px 35px 38px;
    width: 688px;
  }

  .search__title {
    margin-bottom: 40px;
    font-size: 30px;
  }

  .search__fieldset {
    margin-bottom: 0;
    padding: 0;
    border: none;

    &:first-of-type {
      padding-top: 21px;
      border-top: 1px solid $color-macaronicheese;
    }

    &:last-of-type {
      padding-bottom: 12px;
      border-bottom: 1px solid $color-macaronicheese;
    }
  }

  .search__wrapper {
    display: flex;
  }

  .search__toggle {
    margin-right: 16px;
    width: 110px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;

    &::after {
      display: none;
    }
  }

  .search__toggle span {
    display: inline;
  }

  .search .search__list,
  .search .search__transport {
    display: flex;
  }

  .search__item {
    margin-right: 21px;
    width: 150px;

    &:last-child {
      margin-right: 0;
    }
  }

  .search__checkbox + .search__label {
    padding-left: 35px;
    font-size: 20px;
  }

  .search__checkbox + .search__label::before {
    width: 24px;
    height: 24px;
  }

  .search__checkbox:checked + .search__label::before {
    background-size: 12px;
  }

  .search__transport {
    margin-top: 13px;
    margin-left: -4px;
  }

  .search__fieldset--level .search__toggle {
    margin-bottom: 19px;
  }

  .search .search__level-wrapper {
    margin-top: 2px;
    display: flex;
  }

  .search__level {
    padding-top: 4px;
    width: auto;
    order: 2;

    &::before {
      top: 20px;
    }

    &::after {
      top: 26px;
    }
  }

  .search__level input {
    padding: 0 8px;
    width: 75px;
    height: 46px;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .search__level-bar {
    margin-right: 65px;
    width: 277px;
    order: 1;
  }

  .search__level-bar-value {
    width: 74%;
  }

  .search__slider {
    top: -5px;
    width: 13px;
    height: 13px;

    &--min {
      left: -4px;
    }

    &--max {
      right: -4px;
    }
  }

  .search__submit {
    margin-top: 36px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .search {
    padding: 45px 48px 47px;
    width: 285px;
    height: auto;
  }

  .search__wrapper {
    display: block;
  }

  .search__title {
    margin-bottom: 9px;
  }

  .search .search__list,
  .search .search__transport,
  .search .search__level-wrapper {
    display: none;
  }

  .search__fieldset--toggled .search__list,
  .search__fieldset--toggled .search__level-wrapper {
    display: block;
  }

  .search__fieldset--toggled .search__transport {
    display: flex;
  }

  .search__toggle {
    width: 100%;

    &::after {
      position: absolute;
      top: 7px;
      right: 0;

      content: "";
      width: 10px;
      height: 16px;

      display: block;
      background-image: url("../img/sprite.svg#dropdown");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  .search__toggle span {
    display: none;
  }

  .search .search__fieldset {
    margin-bottom: 11px;
    border: none;
  }

  .search__list {
    padding-top: 8px;
    padding-bottom: 5px;
  }

  .search__transport {
    padding-top: 3px;
    padding-bottom: 6px;
  }

  .search__item {
    margin-bottom: 17px;
  }

  .search__level {
    margin-top: -5px;
    margin-bottom: 37px;
    padding-top: 0;
    width: auto;
    order: 2;

    &::before {
      top: 18px;
    }

    &::after {
      top: 23px;
    }
  }

  .search__level input {
    padding: 0 15px 0 25px;
    width: 50%;
  }

  .search__level-bar {
    margin-bottom: 21px;
    width: 100%;
  }

  .search__level-bar-value {
    width: 68%;
  }

  .search__slider {
    &--min {
      left: -2px;
    }

    &--max {
      right: -2px;
    }
  }

  .search__submit {
    margin-top: 0;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
  }
}
