.social {
  @include reset-list;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header .social__item {
  margin: 0 13px;
}

.page-header .social__img {
  fill: $color-darkbluegrey;
}

.page-footer .social__item {
  margin: 0;
  padding-top: 2px;
  padding-left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $color-lightgold;
}

.page-footer .social__img {
  fill: $color-darkslateblue;
}

@media (min-width: $tablet-width) {
  .social {
    justify-content: flex-start;
  }

  .page-header .social__item {
    margin: 0 18px;

    &:first-child {
      margin-left: 25px;
    }
  }

  .page-footer .social__item {
    width: 60px;
    height: 60px;
  }

  .social__img--fb {
    width: 14px;
    height: 28px;
  }

  .social__img--vk {
    width: 31px;
    height: 16px;
  }

  .social__img--insta {
    width: 24px;
    height: 24px;
  }
}
