.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 280px;
  height: 81px;
  border-radius: 20px;
  background-color: $color-lightgold;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  text-transform: uppercase;
  color: $color-darkslateblue;

  &:hover {
    transition: 200ms ease-out;
  }

  &:active,
  &:focus {
    transition: 200ms ease-out;
  }

  &--arrow {
    background-image: url("../img/sprite.svg#triangle-arrow-right");
    background-repeat: no-repeat;
    background-size: 14px 18px;
    background-position: 91.7% center;
  }
}
